# Bước 1: Copy file này thành file tên là ".env" (để ẩn đi mật khẩu)
# Bước 2: Tự do thay đổi mật khẩu tùy thích, file .env sẽ không bao giờ bị Push lên Git

POSTGRES_USER=admin_local
POSTGRES_PASSWORD=my_super_secret_local_password
POSTGRES_DB=duckdb_analytics_local
